<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Messages</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="ellipsis-vertical"
        (click)="chatPopover($event)"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>

<ion-footer class="ion-no-border" *ngIf="!authService.isLoggedIn()">
  <div style="justify-content: space-around; display: flex">
    <ion-button
      color="warning"
      style="flex: 1"
      [routerLink]="['/register']"
      routerLinkActive="router-link-active"
      >Register</ion-button
    >
    <ion-button
      color="white"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      <ion-text color="primary">Sign In</ion-text>
    </ion-button>
  </div>
</ion-footer>
