<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small" *ngIf="uid">Profile</ion-title>
    <ion-title size="small" *ngIf="!uid">Login</ion-title>
    <ion-buttons slot="end" *ngIf="uid">
      <ion-icon
        name="ellipsis-vertical"
        (click)="chatPopover($event)"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-profile *ngIf="uid"></app-profile>
  <app-login *ngIf="!uid"></app-login>
</ion-content>

<!-- <ion-footer class="ion-no-border" *ngIf="!authService.isLoggedIn()">
</ion-footer> -->
