<ion-virtual-scroll
  [items]="filterArray | keyvalue"
  [itemHeight]="itemHeightFn"
>
  <ion-card *virtualItem="let d" style="--background: #03384c">
    <ion-card-header class="ion-no-margin">
      <ion-card-title style="font-size: 25px">
        <b style="color: white">{{ d.value.symbol }}</b>
      </ion-card-title>
      <ion-card-subtitle
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <ion-text style="color: white">
          Expiry: {{ d.value.expiry_date | date }}
        </ion-text>
        <div>
          <ion-text style="color: white">NC: </ion-text>
          <ion-text [color]="d.value.net_change >= 0 ? 'primary' : 'danger'">
            {{ d.value.net_change | number: "1.0-2" }}
          </ion-text>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin: 0 10px;
          "
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
            "
          >
            <ion-text
              style="font-size: 25px; font-weight: bold"
              [color]="d.value.buy > d.value.last_price ? 'primary' : 'danger'"
            >
              {{ d.value.buy | number: "1.0-2" }}
            </ion-text>
            <ion-text
              style="font-size: 25px; font-weight: bold"
              [color]="d.value.sell > d.value.last_price ? 'primary' : 'danger'"
            >
              {{ d.value.sell | number: "1.0-2" }}
            </ion-text>
          </div>
          <div style="display: flex; justify-content: space-between">
            <ion-text style="color: white">
              <b>O: </b>
              {{ d.value.open | number: "1.0-2" }}
            </ion-text>
            <ion-text style="color: white">
              <b>H: </b>
              {{ d.value.high | number: "1.0-2" }}
            </ion-text>
            <ion-text style="color: white">
              <b>L: </b>
              {{ d.value.low | number: "1.0-2" }}
            </ion-text>
            <ion-text style="color: white">
              <b>LP: </b>
              {{ d.value.last_price | number: "1.0-2" }}
            </ion-text>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-virtual-scroll>
