<ion-header>
  <ion-toolbar color="primary" class="ion-no-border" s>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <ion-img src="../../assets/no_news.png" style="height: 100px; width: 100px">
    </ion-img>
    <ion-text>No News</ion-text>
  </div>
</ion-content>
