<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">MSX</ion-title>
    <ion-item color="primary" slot="end">
      <ion-select
        interface="popover"
        [(ngModel)]="expiry_date"
        (ionChange)="getExpiry(expiry_date)"
      >
        <ion-select-option *ngFor="let e of expiry">
          {{ e | date }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #01141b">
  <ion-toolbar color="primary">
    <ion-searchbar
      #search
      [(ngModel)]="symbol"
      (ionChange)="showSymbol()"
      (search)="searchSymbol()"
    ></ion-searchbar>
  </ion-toolbar>
  <div *ngIf="isSymbolAvailable">
    <ion-list *ngFor="let s of displaySymbols">
      <ion-item (click)="selectItem(s)">
        <b style="padding: 5px; font-size: 20px">{{ s | uppercase }}</b>
      </ion-item>
    </ion-list>
  </div>
  <ion-virtual-scroll
    [items]="symbolData | keyvalue"
    [itemHeight]="itemHeightFn"
  >
    <ion-card
      *virtualItem="let data"
      style="--background: #03384c"
      (click)="addSymbol(data)"
    >
      <ion-card-header class="ion-no-margin">
        <ion-card-title style="font-size: 25px">
          <b style="color: white">{{ data.value['symbol'] }}</b>
        </ion-card-title>
        <ion-card-subtitle
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <ion-text style="color: white">
            Expiry: {{ data.value["expiry_date"] | date }}
          </ion-text>
          <div>
            <ion-text style="color: white">NC: </ion-text>
            <ion-text
              [color]="data.value['net_change'] >= 0 ? 'primary' : 'danger'"
            >
              {{ data.value["net_change"] | number: "1.0-2" }}
            </ion-text>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              margin: 0 10px;
            "
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
              "
            >
              <ion-text
                style="font-size: 25px; font-weight: bold"
                [color]="
                  data.value['buy'] > data.value['last_price']
                    ? 'primary'
                    : 'danger'
                "
              >
                {{ data.value["buy"] | number: "1.0-2" }}
              </ion-text>

              <ion-text
                style="font-size: 25px; font-weight: bold"
                [color]="
                  data.value['sell'] > data.value['last_price']
                    ? 'primary'
                    : 'danger'
                "
              >
                {{ data.value["sell"] | number: "1.0-2" }}
              </ion-text>
            </div>
            <div style="display: flex; justify-content: space-between">
              <ion-text style="color: white">
                <b>O: </b>
                {{ data.value["open"] | number: "1.0-2" }}
              </ion-text>
              <ion-text style="color: white">
                <b>H: </b>
                {{ data.value["high"] | number: "1.0-2" }}
              </ion-text>
              <ion-text style="color: white">
                <b>L: </b>
                {{ data.value["low"] | number: "1.0-2" }}
              </ion-text>
              <ion-text style="color: white">
                <b>LP: </b>
                {{ data.value["last_price"] | number: "1.0-2" }}
              </ion-text>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>
