<div style="padding: 10px">
  <ion-card style="--background: #011d28">
    <ion-card-header>
      <ion-card-title>
        <ion-text>
          <b>{{ data.key }}</b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex; flex-direction: column">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px;
          "
        >
          <ion-text style="color: white; font-size: 20px">
            <b>
              {{ data.value["average_price"] | number: "1.0-2" }}
            </b>
          </ion-text>
          <div
            style="display: flex; justify-content: space-between; margin: 5px"
          >
            <ion-text style="color: white; font-size: 20px">
              <b>
                {{ data.value["depth"].buy[0].price | number: "1.0-2" }}
              </b>
            </ion-text>
            <ion-text style="color: white; font-size: 20px">
              <b>
                {{ data.value["depth"].sell[0].price | number: "1.0-2" }}
              </b>
            </ion-text>
          </div>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px;
          "
        >
          <ion-text style="color: white">
            <b>O: </b>
            {{ data.value["ohlc"].open | number: "1.0-2" }}
          </ion-text>
          <ion-text style="color: white">
            <b>H: </b>
            {{ data.value["ohlc"].high | number: "1.0-2" }}
          </ion-text>
          <ion-text style="color: white">
            <b>L: </b>
            {{ data.value["ohlc"].low | number: "1.0-2" }}
          </ion-text>
          <ion-text style="color: white">
            <b>C: </b>
            {{ data.value["ohlc"].close | number: "1.0-2" }}
          </ion-text>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px;
          "
        >
          <ion-text style="color: white">
            <b>V: </b>
            {{ data.value["volume"] | number: "1.0-2" }}
          </ion-text>
          <ion-text style="color: white">
            <b>OI: </b>
            {{ data.value["oi"] | number: "1.0-2" }}
          </ion-text>
          <ion-text style="color: white">
            <b>ATP: </b>
            {{ data.value["average_price"] | number: "1.0-2" }}
          </ion-text>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
