<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button
        [routerLink]="['/tabs/chat']"
        routerLinkActive="router-link-active"
      ></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Login/Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item style="width: 90%">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required="true"></ion-input>
    </ion-item>
    <ion-item style="width: 90%">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        required="true"
        minlength="6"
      ></ion-input>
    </ion-item>
    <ion-button color="warning" (click)="login()" class="btn">
      <ion-text style="font-size: 20px"> Login </ion-text>
    </ion-button>
    <ion-text>or</ion-text>
    <ion-button color="white" class="btn" (click)="loginGoogle()">
      <ion-icon name="logo-google" class="google_icon"></ion-icon>
      <p style="color: black; font-size: 12px">Sign in with Google</p>
    </ion-button>
    <ion-text>
      If you don't have an account, please
      <a [routerLink]="['/register']" routerLinkActive="router-link-active">
        Register
      </a>
    </ion-text>
  </div>
</ion-content>
