<ion-header>
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-item color="primary" slot="end">
        <ion-select
          interface="popover"
          [(ngModel)]="exchange"
          (ionChange)="getExchange()"
        >
          <ion-select-option *ngFor="let e of exchanges" [value]="e">
            {{ e | uppercase }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
    <!-- <ion-title size="small">Quotes</ion-title> -->
    <ion-buttons slot="end">
      <ion-button
        [routerLink]="['/search']"
        routerLinkActive="router-link-active"
      >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #01141b">
  <div *ngIf="id">
    <div [ngSwitch]="exchange">
      <div *ngSwitchCase="'mcx'">
        <app-mcx></app-mcx>
      </div>
      <div *ngSwitchCase="'nse'">
        <app-nse></app-nse>
      </div>
    </div>
  </div>
  <div
    style="
      height: 90vh;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    "
    *ngIf="!id"
  >
    <ion-text style="font-size: 24px; color: white; text-align: center">
      You must be logged in to your account to view and start trades.
    </ion-text>
  </div>
</ion-content>
