<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Quotes</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let data of serverData">
    <ion-card (click)="openBottomSheet(data)">
      <ion-card-header class="ion-no-margin">
        <ion-card-title style="font-size: 25px">
          <b>{{ data.Symbol }}</b>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          "
        >
          <div>
            <ion-text>
              <b>High </b>
              {{ data.High }}
            </ion-text>
            <br />
            <ion-text>
              <b>Low </b>
              {{ data.Low }}
            </ion-text>
          </div>
          <div
            style="display: flex; justify-content: space-between; width: 65%"
          >
            <ion-text>
              <span class="price">{{ data.Bid | number: '1.0-2' }}</span>
              <br />
              <b style="text-align: center">Bid</b>
            </ion-text>
            <ion-text>
              <span class="price">{{ data.Ask | number: '1.0-2' }}</span>
              <br />
              <b style="text-align: center">Ask</b>
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
