<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Quotes</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #18191a">
  <div *ngFor="let data of serverData.data | keyvalue">
    <ion-card (click)="openBottomSheet(data)" style="--background: #242526">
      <ion-card-header class="ion-no-margin">
        <ion-card-title style="font-size: 25px">
          <b style="color: white">{{ data.key }}</b>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          "
        >
          <div>
            <ion-text style="color: white">
              <b>High </b>
              {{ data.value['ohlc'].high | number: '1.0-2' }}
            </ion-text>
            <br />
            <ion-text style="color: white">
              <b>Low </b>
              {{ data.value['ohlc'].low | number: '1.0-2' }}
            </ion-text>
          </div>
          <div
            style="display: flex; justify-content: space-between; width: 65%"
          >
            <ion-text style="color: white">
              <span class="price">
                {{ data.value['depth'].sell[0].price | number: '1.0-2' }}
              </span>
              <br />
              <ion-text class="ion-text-right"><b>Bid</b></ion-text>
            </ion-text>
            <ion-text style="color: white">
              <span class="price">
                {{ data.value['depth'].buy[0].price | number: '1.0-2' }}
              </span>
              <br />
              <ion-text class="ion-text-right"><b>Ask</b></ion-text>
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
