<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Account Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-text style="font-size: 10px; margin: 5px 0">
      Latin characters and digits without spaces
    </ion-text>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button color="warning">Get An Acdount</ion-button>
    <ion-text style="font-size: 10px; margin: 5px 0">or</ion-text>
    <ion-button color="white">
      <ion-img
        src="../../../assets/google_logo.png"
        style="width: 50px"
      ></ion-img>
      <p style="color: black; font-size: 15px">Sign in with Google</p>
    </ion-button>
    <ion-text style="font-size: 10px; margin: 5px 0">
      If you have an account, please
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">
        Login
      </a>
    </ion-text>
  </div>
</ion-content>
