<ion-content>
  <div class="container">
    <ion-item style="width: 90%">
      <ion-label position="floating">Username</ion-label>
      <ion-input
        type="username"
        [(ngModel)]="username"
        required="true"
      ></ion-input>
    </ion-item>
    <ion-item style="width: 90%">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        required="true"
        minlength="6"
      ></ion-input>
    </ion-item>
    <ion-button
      color="primary"
      (click)="login()"
      style="height: 50px; width: 90%; margin: 10px 0"
    >
      <ion-text style="font-size: 20px"> Login </ion-text>
    </ion-button>
  </div>
</ion-content>
